@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

.intro_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin: 45px;
    margin-bottom: 20px;
    padding: 18px;
    background-color:#99eeff;
    background-image:
    radial-gradient(at 5% 63%, hsla(186,73%,67%,1) 0px, transparent 50%),
    radial-gradient(at 58% 70%, hsla(341,69%,77%,1) 0px, transparent 50%),
    radial-gradient(at 3% 90%, hsla(10,82%,79%,1) 0px, transparent 50%),
    radial-gradient(at 18% 46%, hsla(178,76%,78%,1) 0px, transparent 50%),
    radial-gradient(at 9% 94%, hsla(17,79%,65%,1) 0px, transparent 50%),
    radial-gradient(at 50% 18%, hsla(171,91%,62%,1) 0px, transparent 50%),
    radial-gradient(at 48% 85%, hsla(205,97%,70%,1) 0px, transparent 50%);
}

.intro_title{
    font-size: 64px;
    margin-top: 6rem;
    margin-bottom: 22px;
    margin-left: 12rem;
    padding: 15px;
    font-family: 'Inter', sans-serif;

}

.intro_details{
    /* margin-bottom: 2px; */
    margin-left: 12rem;
    padding: 18px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.intro_cta_btn{
    cursor: pointer;
    margin: 8px;
    margin-left: 13rem;
    padding: 18px;
    text-align: inherit;
    letter-spacing: 3px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    background-color: #05cE91;
    color: #F5F8F9;
    border: none;
    border-radius: 8px;
}

.intro_cta_link{
    text-decoration: none;
    color: #F5F8F9;
}

.intro_action_btn{
    cursor: pointer;
    margin: 8px;
    margin-left: 13rem;
    padding: 18px;
    text-align: inherit;
    border: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    border-bottom: 3px solid #00EEB6;
}

.intro_action_btn:hover{
    background-color: #05cE91;
    /* background-color: #080E12; */
    color: #F5F8F9;
    border-radius: 8px;
    border-bottom: none;
}
.into_txt_name{
    padding: 2px;
    font-size: 22px;
    font-weight: 600;
}

.intro_action__btn{
    cursor: pointer;
    margin: 8px;
    padding: 18px;
    text-align: inherit;
    border: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    border-bottom: 3px solid #00EEB6;
}

.intro_action__btn:hover{
    background-color: #05cE91;
    /* background-color: #080E12; */
    color: #F5F8F9;
    border-radius: 8px;
    border-bottom: none;
}

.intro_connect_title{
    font-family: 'Allura', sans-serif;
    font-size: 45px;
    padding: 4px;
}
.intro_connect_txt{
    cursor: text;
    margin:2px;
    font-size: 18px;
}

.about_connect_txt::selection{
    background-color: #00EEB6;
    color: #fafafa;
}
.about_connect_details{
    display: flex;
    justify-content: space-around;
    margin: 25px;
    padding: 4rem;
}

.about_social_links{
    list-style: none;
    font-size: 24px;
    cursor: pointer;
}

.about_link{
    margin: 2px;
    padding: 8px;
}

.about_link a{
    text-decoration: none;
    color: #161616;
}


@media screen and (max-width: 810px) and (min-width: 375px) {

    .intro_container{
        height: 100vh;
        width: 80%;
    }

    .intro_title{
        margin: 1rem 0;
        font-size: 36px;
    }

    .intro_details{
        margin: 8px 0;
        font-size: 14px;
    }

    .intro_cta_btn{
        margin: 2rem;
    }

    .intro_action_btn{
        margin: 12px;
    }

    .intro_action__btn{
        margin: 12px;
        margin-bottom: 5px;
    }

    .btn_span_txt{
        margin-left: 110px ;
    }

}